

@font-face {
  font-family: "Bebas Neue";
  src: url("/font/BebasNeue-Regular.otf") format("otf"),
         url("/font/BebasNeue-Regular.ttf") format("truetype");
 }
@font-face{
  font-family: "Futura PT";
  src: url("/font/FuturaPTMedium.otf") format("otf");
}

body{
  font-family: "Bebas Neue";
  background-color: #14161C;
    color:white;
}



img:hover{
  opacity: 0.5;
}




.btn1{
  background-color: #14161C;
  border-radius: 20px;
  text-decoration: none;
}



/*Nav Bar */
.tmp-menu{
  position: fixed;
  width:100%;
  color: white;
  padding: 2.15rem 2rem; /* 34.4px 0 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top:0;
  z-index: 2; 
  
  /* Permet de gérer les couches */
}



.left span{
  border-bottom: 1px solid white;
  padding: 1rem;
}



h1{
  font-family: "Bebas Neue"
}

h4{
  font-family: "Bebas Neue";
  font-size: 29px;
  padding-top: 180px;
  color: whitesmoke;
}

h4 strong{
font-size: 32px;

}
p{
  font-family: "bebas Neue"
}

header {
  position: relative;
  background-color: #14161C;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -10;
  transition: 1s;
}

.discography{
  background-color: #14161C;
  width: 100%;
 
  padding-block-end: 10rem;
  
}

.bio{
  padding-top: 209.17px;
  display: inline;
}


.left{
  align-content: flex-start;
  width: 580px;
  height: 199.76px;
}

.left h1{
  font-size: 72px;
  padding-block-end: 3rem;
}

.left p {
  font-size: 24px;
}



.right{
  align-content: flex-end;
  width: auto;
  margin: 2rem;
}

.cover{
  width: 324px;
  height: 338.86px;
  align-content: flex-end;
}

.album{
  padding-top: 5rem;
}


.coveralbum{
  padding-top: 1rem;
}


.downpage{

  background: url('/image/Little_Simz_Fond.png');
  background-size: cover;
  width: auto;
  height: 1800px;

}

.playlist, .concert{
  padding-top: 9rem;
}
.date{
  padding-block-end: 130px;
}



table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Bebas Neue";
  height: 300px;
  
}
tbody{
  overflow: scroll;
}
th, td {
  padding: 8px;
  text-align: left;
  
}

tr:hover {
  background-color: #14161C;
  opacity: 0.5;
  z-index: 4;
}

.btn{
  background-color: rgba(165, 34, 34, 0.58);
  opacity: 0.9;
  color: white;
  z-index: 5;
}


