body{
  font-family: 'Indie Flower', cursive;
    background-color: black;
    color:white;
    
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  margin: 16px 46px;
  width: 2rem;
  height:2rem;
  letter-spacing: 2px;
}

nav {
  position: relative;
  width: 100%;
  line-height: 60px;
  z-index: 1;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}



#fullpage {

    margin: 20px;
    text-align: center;
    widows: 100%;
    
    display: inline;
    overflow: hidden;
  
  }

#fullpage section { height: 100vh; }

.one{
  justify-content: center;
}



.three{
  background-color:  red;
}

.for{
  background-color:  whitesmoke;
}
.five{
background-color: green;
}


video {
  background-color: black;
  top: 0; right: 0; bottom: 0; left: 0;
  background-size: cover;

}

#myVideo {
  position: fixed;
  opacity: 0.4;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  
}

audio{

}

th:hover{
  color: aqua;
}















.stage {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  position: absolute;
  
  top: 0;
  left: 0;
}
#demo {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 90%;
  font-weight: 700;
}

.gs-dev-tools {
  z-index: 10;
}

#details {
  width: 100%;
  max-width: 450px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  text-align: center;
  font-size: 0.875em;
  color: white;
  z-index: 11;
}

h1,
p {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 10;
}
h1 {
  font-family: "Signika", sans-serif;
}

h1 span {
  color: #88ce02;
}

